.container{
    width: 960px;
    margin: 0 auto;
}
li{
    display: inline;
    padding: 10px;
}
li:last-child{
    text-decoration-line: underline;
    text-decoration-color:yellow;
}
div{
    background-color: brown;
}
h1,h2{
    color: yellow;
}
img{
    width: 200px;
    height: 200px;
}
label{
    display: block;

}
#pizzas_select{
    margin-bottom: 20px ;
}
input{
    display: block;


}